section {
  display: flex;
  flex-direction: column;
}

.cat,
.dog,
.fox {
  width: 90%;
  background-color: rgb(131, 150, 131);
  /* margin-right: 5px; */
}

.cat img,
.dog img,
.fox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
